decorator==5.2.1
filelock==3.20.1
fsspec==2025.12.0
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
moviepy==2.2.1
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.6
pandas==2.3.3
pillow==11.3.0
proglog==0.1.12
PyQt5==5.15.11
PyQt5_sip==12.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
setuptools==80.9.0
six==1.17.0
sympy==1.14.0
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
